{% load comments %}

{% get_comment_list for object as comments%}

{% for comment in comments %}
 <div class="alert alert-info" role="alert"><b>{{ comment.user_name }} said:</b> {{ comment.comment|linebreaks}}</div>

{%endfor%}

{% get_comment_form for object as form %}

<form action="{% comment_form_target %}" method="POST">
	{%csrf_token%}
	<input type="hidden" name="name" value="{{request.user.user_name}}">
	<input type="hidden" name="email" value="rhenna@gmail.com">
	<input type="text" name="comment" class="form-control input-lg">
	{{form.content_type}}
	{{form.object_pk}}
	{{form.timestamp}} {%comment%} form is created {%endcomment%}
	{{form.security_hash}}

<input type="hidden" name="next" value="{{object.get_absolute_url}}">
<input type="submit" value="submit your comment" class="btn btn-outline-info">
</form>